body{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.container {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    background-color: white;
}

.sidebox {
    margin-top: 30px;
    height: fit-content;
    width: 9vw;
    background-color: white;
    border-radius: 40px;
    margin-left: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

.nav-btn {
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tabs{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    margin-bottom: 30px;
}


.home {
    background-color: brown;
}

.bg-tg2 {
    background-color: white;
}

.bg-tg {
    background-color: brown;
}


.mainbox {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.header {
    width: 95%;
    height: fit-content;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 110px;

}

.nav-bar {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}


.search-bar {
    width: 40%;
    height: 50px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-left: 17%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 5px;
}

.search {
    border: transparent;
    height: 30px;
    width: 85%;
}

.calender {
    margin-left: 15%;
    background-image: url(images/calendar\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.notification {
    background-image: url(images/notification.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.profile {
    background-image: url(images/woman.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.H1{
    margin-left: 20px;
    font-weight: bolder;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bd{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    gap: 5px;
    padding-left: 20px;
}


.bc{
    display: flex;
    margin-top: 10px;
    width: 12vw;
    height: 130px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
}

.crops {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.farmers {
    background-color: brown;
    display: flex;
    flex-direction: column;
}

.orders {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.members {
    margin-left: 40%;
    background-color: transparent;
    display: flex;
    box-shadow: none;
    flex-direction: column;
}

.up {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.low {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.view-full {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: white;
    background-image: url(images/right-up.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 30px;
}

.H2{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    color: white;
}

.hlder {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bf {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 10px;
    justify-content: center;
    gap: 8px;
}

.sec2 {
    border: 1px solid transparent;
    width: 95%;
    height: 35%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}

.dashboardss {
    border: 1px solid transparent;
}

.db0 {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 5px;
}

.db1, .db2 {
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
}

.db1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.db2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px;
    font-size: large;
    font-weight: bold;
}

.gr2 {
    gap: 180px;
}

.duration {
    width: 90px;
    height: 40px;
    border-radius: 30px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    gap: 2px;
}

.datav{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 20px solid brown;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 20px dashed grey;
    border-bottom: 20px dashed grey;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}




.sett {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    font-size: 14px;
}

.Attendance-dash {
    width: 95%;
    height: 70%;
    display: grid;
    grid-template-columns:  12% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
}

.sections {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.sec-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    border: transparent;
    font-weight: bold;
    color: gray;
}


.bar {
    background-color: brown;
    border: transparent;
    border-radius: 50px;
}

.bar-1 {
    height: 50%;
}
.bar-2 {
    height: 80%;
}
.bar-3 {
    height: 60%;
}
.bar-4 {
    height: 90%;
}
.bar-5 {
    height: 50%;
}
.bar-6 {
    height: 80%;
}
.bar-7 {
    height: 70%;
}
.bar-8 {
    height: 85%;
}
.bar-9 {
    height: 75%;
}

.dash-months {
    width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns:  12% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    color: grey;
}

.dbs1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    margin-top: 20px;
}

.db3, .db4, .db5 {
    border: 1px solid black;
    width: 16vw;
    height: 30vh;
    border-radius: 30px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
}

.db3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border: transparent;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 3);
}

.hd-db3 {
    width: fit-content;
    margin-left: 15px;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.hd1-db3 {
    width: fit-content;
    margin-left: 15px;
    font-size: 15px;
    color: grey;
    font-weight: 600;
}

.hd2-db3 {
    border: transparent;
    height: 45%;
    width: 85%;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.c {
    background-color: brown;
    box-shadow: 0 0 4px 0 rgba(165, 42, 42, 5);
}

.c1 {
    background-color: rgba(165, 42, 42, 0.394);
    box-shadow: 0 0 4px 0 rgba(165, 42, 42, 5);
}


.cir-cle {
    height: 19px;
    width: 19px;
    border-radius: 30px;
    border: transparent;
    margin-right: 3px;
}


.db4 {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.grdd {
    border: transparent;
    height: 22%;
    width: 90%;
    align-items: center;
    
}

.head-er {
    display: flex;
    gap: 3px;
}

.far-mrs {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.cr {
    border: 1px solid gray;
    width: 55px;
    height: 30px;
    border-radius: 20px;
}

.all-time {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 10px;
    font-weight: bold;
}

.this-year {
    border: 1px solid brown;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
}



.prfl {
    height: 45px;
    width: 45px;
    border: 1px solid white;
    border-radius: 30px;
}

.in-fo {
    width: 60%;
    height: 50px;
    border: transparent;
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
}

.frm-tbl {
    display: flex;
    gap: 5px;
}

.arr {
    margin-left: 10px;
}

.db5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: transparent;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 3);
}

.sucs-rte {
    width: 90%;
    height: 20%;
    border: transparent;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 90px;
}

.suc-lder {
    width: 90%;
    height: 55%;
    border: transparent;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lder {
    border: 23px dashed brown;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom: transparent;
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}



/* events section */

.events {
    border-radius: 30px;
    border: transparent;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hder-ev1 {
    border: 1px solid black;
    width: 90%;
    height: 11%;
}

.first-tp {
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.schd {
    height: 12%;
    border: transparent;
    box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 4);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 40%;
    padding-left: 15px;
}