body {
    background-color: rgba(165, 42, 42, 0.074);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
    width: 100%;
}


header {
    width: 100%;
    height: fit-content;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    height: 10vh;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pr0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.pr1{
    display: flex;
    align-items: center;
    gap: 60px;
}

.ul {
    color: brown;
}

.loginbtn {
    color: brown;
    font-weight: bold;

}

.Signupbtn, .Signupbtn2, .btn-sec{
    color: white;
    font-weight: 200;
    background-color: brown;
    display: flex;
    height: 40px;
    width: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


/* menu */
.comapny-menu{
    position: absolute;
    left: 42%;
    height: 40vh;
    width: 18vw;
    background-color: rgb(183, 163, 163);
    border-radius: 5px;
    display: none;
    grid-template-rows: auto auto auto auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.cptl {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding-left: 20px;
    gap: 20px;
    font-size: 15px;
    color: white;
}

.Resources-menu {
    position: absolute;
    left: 45%;
    height: 40vh;
    width: 18vw;
    background-color: rgb(183, 163, 163);
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    grid-template-rows: auto auto auto auto;
    z-index: 1001;
}

.Legal-menu {
    position: absolute;
    left: 50%;
    height: 40vh;
    width: 18vw;
    background-color: rgb(183, 163, 163);
    border-radius: 5px;
    display: none;
    grid-template-rows: auto auto auto auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1002;
}

.menu-display {
    display: grid;
}


/* sections */
.landing {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 20px;
}

.ld1{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: 23%;
    margin-top: 25%;
}

.typing-animation{
    overflow: hidden; 
    border-right: 3px solid; 
    white-space: nowrap; 
    width: 0; 
    animation: 
    typing 3s steps(30) forwards, 
    blink 0.75s step-end infinite; 
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }

.downloads {
    display: flex;
    gap: 10px;
}

.btn {
    height: 5vh;
    width: 7vw;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.txt {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 6px;
}

.licence {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.ld2 {
    height: 100%;
    background-image: url(../images/dsgnf.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2%;
}


/* section 2 */
.land2 {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.freeacc{
    margin-top: 5%;
    height: 60vh;
    width: 80vw;
    border-radius: 20px;
    background-color: brown;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.txs2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Signupbtn2 {
    background-color: grey;
}


/* landing page 3 */
.land3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-top: 10%;
}

.card {
    width: 80vw;
    height: fit-content;
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
}

.cards {
    margin-top: 15%;
    width: 26vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(165, 42, 42, 0.209) ;
    background: linear-gradient(45deg, white, rgba(165, 42, 42, 0.108));
    border-radius: 30px;
}

.cards-shadow {
    box-shadow: 5px 5px 10px 5px rgba(165, 42, 42, 0.2);
}


.hd-cards {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
}


/* landing page 4 */
.land4 {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    background-color: rgba(165, 42, 42, 0.426);
    gap: 40px;
}

.top-sec {
    width: 80vw;
    height: fit-content;
    margin-top: 40px;
    display: flex;
    gap: 24%;
}

.title-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-sec {
    align-self: flex-end;
}

.bottom-sec {
    width: 85vw;
    height: 80%;
    background-color: black;
    border-radius: 30px;
    background-image: url(../images/newfarmers.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* section 5 */ 
.land5 {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.tapbs {
    width: 98%;
    height: 70%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    justify-content: center;
}

.tbs {
    height: 100%;
    background-color: rgba(165, 42, 42, 0.426);
    width: 22vw;
    border-radius: 30px;
}

.downloads2 {
    display: flex;
    gap: 2px;
    align-self: center;
}

.tbs1 {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.tbs2 {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    background-color: transparent;
}

.tp-tbs {
    height: auto;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.426);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.bt-tbs {
    height: auto;
    width: 100%;
    background-color: rgba(165, 42, 42, 0.426);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.tbs3 {
    display: flex;
    gap: 80%;
    flex-direction: column;
    background-image: url(../images/farmers23.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.tbs4 {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    background-color: transparent;
}


